*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
  width: 100%;
}
.app::-webkit-scrollbar{
  display: none;
}

.app__page{
  width: 100%;
  display: flex;
  background-color: #f9f9f8;
}

@media (max-width:550px) {
  .app__page{
    justify-content: center;
  }
}