.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header__right{
    display: flex;
    align-items: center;
}
.header__right-icon{
    margin-left: 10px;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__search{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    width: 40%;
    padding: 5px;
}

.header__search > a{
    display: flex;
    align-items: center;
    padding: 1px;
}

.header__search-icon{
    display: flex;
    align-items: center;
    width: 2em !important;
    color: gray;
}

.header__search-icon:hover{
    color: lightgray;
}

.header__search > input {
    flex: 3;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    padding: 5px;
}

.header__search > input:focus {
    border: 1px solid blue;
}

.header__logo{
    width: 100px;
    margin-left: 10px;
}

.MuiAvatar-root{
    height: 25px !important;
    width: 25px !important;
    margin-left: 10px;
} 

.header__right.MuiSvgIcon-root{
    font-size: 25px !important;
}

.header__right-user{
    position: relative;
}
.header__right-user-menu{
    background-color: white;
    padding: 20px;
    width: 150px;
    position: absolute;
    top: 35px;
    right: 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    user-select: none;
    cursor: pointer;
}
.header-auth{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}
.header-auth-text{
    margin-left: 15px;
}
.menu-icon{
    display: none;
}

@media (max-width:550px) {
    .header__logo{
        display: none;
    }
    .header{
        padding: 20px;
    }
    .header__right>.MuiSvgIcon-root{
        display: none !important;
    }
    .header__left,.header__right{
        flex: 1;
    }
    .header__right{
        justify-content: center;
    }
    .header__search{
        flex: 3;
    }
    .menu-icon{
        display: block;
    }
}